/composer.lock
/vendor/
/debian/abraflexi-tools/
/debian/debhelper-build-stamp
/debian/abraflexi-tools.debhelper.log
/debian/abraflexi-tools.substvars
/nbproject/private/
/debian/.debhelper/
/tests/client.json
/debian/flexibee-tools.substvars
/debian/files
/.env
/.vscode/
/debian/multiflexi-abraflexi-tools.debhelper.log
/debian/multiflexi-abraflexi-tools.substvars
/debian/multiflexi-abraflexi-tools/

