/composer.lock
/vendor/
/debian/flexibee-tools/
/debian/debhelper-build-stamp
/debian/flexibee-tools.debhelper.log
/debian/flexibee-tools.substvars
/nbproject/private/
/debian/.debhelper/
/tests/client.json
