Source: flexibee-tools
Build-Depends: debhelper (>= 7.0.50~),po-debconf
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/FlexiBee-Tools
Section: development

Package: flexibee-tools
Depends: ${misc:Depends},composer, php-cli, php-flexibee, jaspercompiler
Suggests: flexibee-server,php-flexibee-config
Replaces: flexibee-testing-tools
Architecture: all
Section: devel
Priority: optional
Description: commandline FlexiBee tools
 Set of tools allowning interact with Abra FlexBee on command line
 
