Source: abraflexi-tools
Build-Depends: debhelper (>= 7.0.50~),po-debconf
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/AbraFlexi-Tools
Section: development

Package: abraflexi-tools
Depends: ${misc:Depends},composer-debian, php-cli, php-spojenet-abraflexi-dev
Suggests: abraflexi-server,abraflexi-client-config
Replaces: abraflexi-testing-tools
Architecture: all
Section: devel
Priority: optional
Description: commandline AbraFlexi tools
 Set of tools allowning interact with Abra Flexi on command line
 
